html,body{
    padding-top: 25px;
    with:100%;
    margin:0;
    height:100%;
    overflow:hidden;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        min-width: 250px;
    }
}



#vertical,
#horizontal
{
    height:100%;
}

#vertical
{
    border-width: 0;
}

#t1{
    height: 100%;
}