html,body{
    padding-top: 25px;
    with:100%;
    margin:0;
    height:100%;
    overflow:hidden;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        min-width: 250px;
    }
}



#vertical,
#horizontal
{
    height:100%;
}

#vertical
{
    border-width: 0;
}

#t1{
    height: 100%;
}

#loading{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../images/loading.gif')
    50% 50%
    no-repeat;
}

body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.navbar-form .form-group {
    margin-top: 5px;
}

/* ------------------------- Kendo ----------------------*/
/*td[role="gridcell"] { white-space: nowrap; }*/