@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(implicit webJarAssets: WebJarAssets,paramReportSelectForm:Form[ParamReportSelect])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Логистика заказов") {


<div id="help" class="jumbotron">
 <div class="row"><div class="col-md-12 text-center"> <h1> Инструкция пользователя: </h1></div></div>
 <div class="row">

 <div class="row">
  <div class="col-xs-offset-1 col-sm-offset-1 col-lg-offset-3 col-lg-6  col-sm-10 col-xs-10" >
  <ui>
    <li>Выберете диапазон запрашиваемых данных</li>
    <li>Выберете предприятие</li>
    <li>Выберете показатель</li>
    <li>Выберете режим работы отчетов:</li>
      <ol>
        <li >Прямой расчет – расчет показателей от первоначальной даты доставки, заявленной менеджером отдела продаж</li>
        <li>С учетом отклонений предыдущих операций - расчет показателей от первоначальной даты доставки, заявленной менеджером отдела продаж с корректировкой плановых дат на отрицательные отклонения возникших на предыдущих операциях</li>
        <li>По поручению экспедитору – расчет показателей «Точность отгрузки» и «Точность доставки» исходя из дат указанных менеджером в поручении экспедитору.</li>
      </ol>


    <li>Нажать кнопку загрузить</li>

  </ui>
  </div>
 </div>

  <div class=" col-xs-offset-1 col-sm-offset-1 col-lg-offset-3 col-lg-6  col-sm-10 col-xs-10 ">
      <h2>Отчет может группироваться по полям:</h2>
   <ui>
   <li>Менеджер</li>
   <li>Клиент</li>
   <li>Причина отклонений</li>
   <li>Состояние</li>
   </ui>
   <div class="col-xs-offset-1 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-sm-10 col-xs-10 ">
    <h3>В автоматическом режиме строится диаграмма по выбранному показателю. В случае применения группировки диаграмма строится по первому уровню.</h3>
   </div>
 </div>
 </div>
</div>





}
