@*
* This template takes a single argument, a String containing a
* message to display.
*@

@import com.fasterxml.jackson.databind.JsonNode
@(message: String)(implicit webJarAssets: WebJarAssets,paramReportSelectForm:Form[ParamReportSelect],select:ParamReportSelect)


@main("Точность открытия заказов") {
 @*   <div class="container-fluid">*@
        <div id="vertical">
        <div>
            <div class="col-md-offset-4 col-md-4">
                <h2 class="text-primary text-center">Точность доставки заказов</h2>
            </div>
            <div id="loading">
            </div>

            <div id="graph" class="col-md-offset-1 col-md-10" >
                <div class="demo-section k-content wide">
                    <div id="chartView"></div>
                </div>
            </div>
        </div>
        <div  id="t1" class="col-md-12" >
            <div id="gridView"></div>
            <script id="template" type="text/x-kendo-template">
            <input type="checkbox" id="typeCustomer" class="k-checkbox" onclick="return typeCustomer_click()" data-bind="checked: isSaveSatus">
            <label class="k-checkbox-label" for="typeCustomer">Только стратегические клиенты</label>
            </script>
        </div>
        </div>
        <script>

             $("#vertical").kendoSplitter({
                  orientation: "vertical",
                  panes: [
                      { collapsible: false, size: "50%" },
                      { collapsible: false },
                      { collapsible: false, resizable: false, size: "35%" }
                  ]
              });

             var dataSourceDB = new kendo.data.DataSource({
                 serverAggregates: true,
                 transport: {
                     read: function(options) {
                         $.ajax({
                             type: "GET",
                             url: "api/listdeliveryorder",
                             contentType: "application/json; charset=utf-8",
                             dataType: 'json',
                             data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise',mode:'@select.getMode'},
                             success: function(data) {
                                 options.success(data);
                             }
                         });
                     }
                 },
                // pageSize:100,
                 schema: {
                     model: {
                         id:"id",

                         fields: {
                             /* site:{type:"string"},*/
                             orderNumber: { type: "string" },
                             orderLine: { type: "number" },
                             manager: { type: "string" },
                             customer: { type: "string" },
                             itemDescription:{type:"string"},
                             monthShip:{type:"string"},
                             planDeliveryDateFormat:{type:"string"},
                             factDeliveryDateFormat:{type:"string"},
                             deviation:{type:"number"},
                             reasonDeviation:{type:"string"},
                             calcStatus:{type:"string"},
                             dateActualShip:{type:"date"},
                             nornalizeGroupDate:{type:"string"},
                             deviationHide:{type:"number"},
                             changeDatePlanDelivery:{type:"boolean"},
                             typeCustomer:{type:"string"}
                         }
                     }
                 },
                 //  pageSize:20,
                 aggregate:[
                     {field:"calcStatus",aggregate:"count"},
                     {field:"customer", aggregate:"count"},
                     {field:"monthShip", aggregate:"count"}
                 ],
                 change: function(e) {

                     var query = new kendo.data.Query(dataSourceDB.data());
                     var filters = dataSourceDB.filter();
                     filteredData = query.filter(filters).data;

                     allDataCount = filteredData.length;

                     if(dataSourceDB.group().length > 0 ){
                         graphUtils.createBarGraph(dataSourceDB.group()[0].field,dataSourceDB)

                     } else {
                         graphUtils.createBarGraph("",dataSourceDB)
                     }
                 }


             });
             var names = _.sortBy(_.uniq(_.pluck(dataSourceDB.data(), "customer")), function(n) { return n; });

             function createMultiSelect(element) {
                 element.removeAttr("data-bind");

                 element.kendoMultiSelect({
                     dataSource: _.sortBy(_.uniq(_.pluck(dataSourceDB.data(), "customer")), function(n) { return n; }),
                     change: function(e) {
                         var filter = { logic: "or", filters: [] };
                         var values = this.value();
                         $.each(values, function(i, v) {
                             filter.filters.push({field: "customer", operator: "eq", value: v });
                         });

                         dataSourceDB.filter(filter);
                     }
                 });
             }



             /* ========================================== Grid ======================================= */

             $("#gridView").kendoGrid({
                 toolbar: ["excel",{ template: kendo.template($("#template").html()) }],
                 excel: {
                     allPages: true
                 },

                 dataSource: dataSourceDB,
                 height: '100%',
                 groupable: true,
                 sortable: true,
                 filterable: true,
                 resizable:true,
                 /*pageable: {
                     pageSizes: true
                 },*/
                 dataBound: function(e){
                    $("#gridView").find('.k-icon.k-i-collapse').trigger('click');
                  },
                 columns: [
                     {
                         field: "orderNumber",
                         title: "№ Заказа",
                         width: "70px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         groupable: false
                     },
                     {
                         field: "orderLine",
                         title: "№ Строки",
                         width: "60px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         //filterable: false,
                         groupable: false
                     },
                     {
                         field: "manager",
                         title: "Менеджер",
                         width: "80px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         aggregates: ["count"],
                         groupHeaderTemplate: "Менеджер: #=value#: #=count# : (#=  Math.round((count/calcAll(data,field,value))*100)#%): Count : #=count#"
                     },
                     {
                         field: "customer",
                         title: "Клиент",
                         width: "180px",
                         aggregates: ["count"],
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         filterable: {
                             ui: createMultiSelect,
                             extra: false
                         },
                         /*groupHeaderTemplate: "Клиент: #=value# : #=count#: (#= Math.round((count/calcAll(data,field,value))*100)#%)"*/
                         groupHeaderTemplate: "Клиент: #=value# : #=count#: (#= calcAll(data,field,value,count)#)"
                         //groupHeaderTemplate: "Клиент: #=value# : #=count#"
                     },
                     {
                         field: "itemDescription",
                         title: "Наименование заказа",
                         width: "130px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         filterable: false,
                         groupable: false
                     },
                     {
                         field: "monthShip",
                         title: "Месяц отгрузки",
                         width: "50px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         groupable: false,
                         aggregates: ["count"],
                         groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= calcAll(data,field,value)#)"
                         //groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= count#)"
                     },
                     {
                         field: "planDeliveryDateFormat", title: "Дата доставки план", width: "80px",
                         headerAttributes: gridUtils.headerFormat, attributes: gridUtils.columnFormatChangeDeliveryDate, filterable: false, groupable: false
                     },
                     {
                         field: "factDeliveryDateFormat", title: "Дата доставки факт.", width: "80px",
                         headerAttributes: gridUtils.headerFormat, attributes: gridUtils.columnFormat, filterable: false, groupable: false
                     },
                     {
                         field: "deviation",
                         title: "Отклонение",
                         width: "65px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         groupable: false
                     },
                     {
                         field: "reasonDeviation",
                         title: "Причина отклонений",
                         width: "65px",
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         groupable: true,
                         aggregates: ["count"],
                         groupHeaderTemplate: "Причина отклонений: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                     },

                     {
                         field: "calcStatus",
                         title: "Состояние",
                         width: "80px",
                         aggregates: ["count"],
                         headerAttributes: gridUtils.headerFormat,
                         attributes: gridUtils.columnFormat,
                         //groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= Math.round((count/calcAll(data,field,value))*100)#%)"
                         groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= calcAll(data,field,value,count)#)"
                         //groupHeaderTemplate: "Состояние: #=value#: #=count# "
                     }

                 ],
                 change: function(e) {

                     var query = new kendo.data.Query(dataSourceDB.data());
                     var filters = dataSourceDB.filter();
                     filteredData = query.filter(filters).data;

                     allDataCount = filteredData.length;

                     if(dataSourceDB.group().length > 0 ){
                         graphUtils.createBarGraph(dataSourceDB.group()[0].field,dataSourceDB)

                     } else {
                         gridUtils.createBarGraph("",dataSourceDB);
                     }


                 }
             });
             /* ======================================================================================= */


             var level1 = [{}]
             var prevLevelValue = [];
             var prevLevelCount = [];
             var fieldObject = {};
             /* =========================================================================*/

             function calcAll(data,field,value,count_) {
                 //tree[-1] = {prevLevel : -1,level: -1,value:"",countAll:allDataCount/*dataSourceDB.total()*/};
                 //prevLevelCount[-1] = allDataCount;/*dataSourceDB.total();*/
                 prevLevelValue[-1] = "";
                 var levelTree = gridUtils.indexGroup(dataSourceDB.group(), field);
                 prevLevelValue[levelTree] = data.value;
                 //prevLevelCount[levelTree] = data.count;
                 if (!gridUtils.findObject(level1, levelTree, data.value, prevLevelValue[levelTree - 1])) {
                     level1.push({
                         prevLevel: levelTree - 1,
                         level: levelTree,
                         value: data.value,
                         prevValue: prevLevelValue[levelTree - 1]
                         /*countAll:data.count, prevCount:prevLevelCount[levelTree - 1]*/
                     });
                 }
                 //  return findCountPrevObject(level1,data.value,prevLevelValue[levelTree-1]);


                 var allCount = 0;



                 if (gridUtils.indexGroup(dataSourceDB.group(), field) === 0) {
                     fieldObject = {};

                     if (field === "customer") {
                         return gridUtils.procentPrecisionByCustomer(filteredData,field, value, true);
                     } else {
                         allCount = _.groupBy(_.pluck(_.where(filteredData, fieldObject), "calcStatus"), function (n) {
                             return "count"
                         });
                         allCount = _.isUndefined(allCount.count) ? 1 : allCount.count.length;
                     }

                 }
                 if (gridUtils.indexGroup(dataSourceDB.group(), field) === 1) {

                     fieldObject ={};

                     if (field === "customer" &&  prevLevelValue[0] === graphUtils.WITHOUTDEVIATION) {
                         return gridUtils.procentPrecisionByCustomer(filteredData,field, value, true);
                     };
                     if (field === "customer" &&  prevLevelValue[0] === graphUtils.WITHDEVIATION) {
                         return gridUtils.procentPrecisionByCustomer(filteredData,field, value, false);
                     };
                     fieldObject[dataSourceDB.group()[0].field] = prevLevelValue[0];

                     var tempAll = _.groupBy(_.pluck(_.where(filteredData, fieldObject), field), function (n) {
                         return "count"
                     });
                     allCount = _.isUndefined(tempAll.count) ? 1 : tempAll.count.length;
                 }
                 if (gridUtils.indexGroup(dataSourceDB.group(), field) === 2) {
                     fieldObject ={};

                     fieldObject[dataSourceDB.group()[0].field] = prevLevelValue[0];
                     fieldObject[dataSourceDB.group()[1].field] = prevLevelValue[1];


                     var tempAll = _.groupBy(_.pluck(_.where(filteredData, fieldObject), field), function (n) {
                         return "count"
                     });
                     allCount = _.isUndefined(tempAll.count) ? 1 : tempAll.count.length;
                 }

                 return (allCount <= count_ ) ? Math.round((allCount / count_) * 100) + " %" : Math.round((count_ / allCount) * 100) + " %";
             }
             /* ---------------------------------------------------------------------------*/

             function typeCustomer_click(){

                 if($("input[type=checkbox]").is(':checked')){
                     if(dataSourceDB.filter.filters) {
                         dataSourceDB.filter.filters.push({
                             field: "typeCustomer",
                             operator: "eq",
                             value: "Стратегический"
                         });
                     } else {
                         var _filter = { logic: "and", filters: [] }
                         _filter.filters.push({
                             field: "typeCustomer",
                             operator: "eq",
                             value: "Стратегический"
                         });
                         dataSourceDB.filter(_filter);
                     }
                 }else{ dataSourceDB.filter({})}

             }


        </script>

}