@*
* This template takes a single argument, a String containing a
* message to display.
*@

@import com.fasterxml.jackson.databind.JsonNode
@(message: String)(implicit webJarAssets: WebJarAssets,paramReportSelectForm:Form[ParamReportSelect],select:ParamReportSelect)


@main("Точность открытия заказов") {
 @*   <div class="container-fluid">*@
        <div id="vertical">
        <div>
            <div class="col-md-offset-4 col-md-4">
                <h2 class="text-primary text-center">Точность открытия заказов</h2>
            </div>
            <div id="loading">
            </div>

            <div id="graph" class="col-md-offset-1 col-md-10" >
                <div class="demo-section k-content wide">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <div  id="t1" class="col-md-12" >
            <div id="gridTest"></div>
        </div>
        </div>
        <script>
              /* var dataall = [];

               for(order <- listOrder) {
               var order = {}
               order["OrderNumber"] = 'order.getOrderNumber()';
               order["OrderLine"] ='order.getOrderLine()';
               order["Manager"] ='order.getManager()';
               order["Customer"] ='order.getCustomer()';
               dataall.push(order);
               }
*/             $("#vertical").kendoSplitter({
                  orientation: "vertical",
                  panes: [
                      { collapsible: false, size: "50%" },
                      { collapsible: false },
                      { collapsible: false, resizable: false, size: "35%" }
                  ]
              });

              createDefaultGraph();
               var dataSourceDB = new kendo.data.DataSource({
                   serverAggregates: true,
                   transport: {
                       read: function(options) {
                           $.ajax({
                               type: "GET",
                               url: "api/listorder",
                               contentType: "application/json; charset=utf-8",
                               dataType: 'json',
                               data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise'},
                               success: function(data) {
                                   options.success(data);
                               }
                           });
                       }
                   },
                   pageSize:20,
                   schema: {
                       model: {
                           id:"id",

                           fields: {
                               /* site:{type:"string"},*/
                               orderNumber: { type: "string" },
                               orderLine: { type: "number" },
                               manager: { type: "string" },
                               customer: { type: "string" },
                               itemDescription:{type:"string"},
                               monthShip:{type:"string"},
                               dateCreateOrderFormat:{type:"string"},
                               dateBeginProductionFormat:{type:"string"},
                               deviation:{type:"number"},
                               caclStatus:{type:"string"},
                               monthActualShip:{type:"date"}
                           }
                       }
                   },
                   //  pageSize:20,
                   aggregate:[
                       {field:"caclStatus",aggregate:"count"},
                       {field:"customer", aggregate:"count"},
                       {field:"monthShip", aggregate:"count"}
                   ],
                   change: function(e) {

                       var query = new kendo.data.Query(dataSourceDB.data());
                       var filters = dataSourceDB.filter();
                       var filteredData = query.filter(filters).data;

                       allDataCount = filteredData.length;

                       if(dataSourceDB.group().length > 0 ){
                        createGraph(dataSourceDB.group()[0].field);
                       } else {
                           createDefaultGraph();
                       }
                       var chart = $("#chart1").data("kendoChart");
                       chart.dataSource.filter(dataSourceDB.filter());
                   }


               });

              var dataSourceGrapth = new kendo.data.DataSource({
                  transport: {
                      read: function(options) {
                          $.ajax({
                              type: "GET",
                              url: "api/grapth",
                              contentType: "application/json; charset=utf-8",
                              dataType: 'json',
                              data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise',groupField:''},
                              beforeSend: function() { $('#loading').show(); },
                              success: function(data) {

                                  $('#loading').hide();
                                  options.success(data);
                              }
                          });
                      }
                  },
                  sort: [
                      { "field": "categoryAxis", "dir": "asc" }
                  ],
              });

              var names = _.sortBy(_.uniq(_.pluck(dataSourceDB, "customer")), function(n) { return n; });

              function createMultiSelect(element) {
                  element.removeAttr("data-bind");

                  element.kendoMultiSelect({
                      dataSource: names,
                      change: function(e) {
                          var filter = { logic: "or", filters: [] };
                          var values = this.value();
                          $.each(values, function(i, v) {
                              filter.filters.push({field: "customer", operator: "eq", value: v });
                          });
                          console.log(this.dataSource.data());
                          dataSource.filter(filter);
                      }
                  });
              }


              $("#gridTest").kendoGrid({
                   toolbar: ["excel"],
                   excel: {
                       allPages: true
                   },

                    dataSource: dataSourceDB,
                    height: '100%',
                    groupable: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                         pageSizes: true
                    },
                    columns: [
                        { field: "orderNumber",title:"№ Заказа", width: "70px"},
                        { field: "orderLine", title: "№ Строки",  width: "30px" },
                        { field: "manager", title: "Менеджер", width: "70px" ,aggregates: ["count"],
                            groupHeaderTemplate: "Менеджер: #=value#: #=count# : (#=  Math.round((count/calcAll(data,field,value))*100)#%): Count : #=count#"},
                        { field: "customer", title: "Клиент",width: "130px" ,aggregates: ["count"],
                            filterable: {
                                ui : createMultiSelect,
                                extra: false
                            },
                            groupHeaderTemplate: "Клиент: #=value# : #=count#: (#= Math.round((count/calcAll(data,field,value))*100)#%)"},
                        { field: "itemDescription", title: "Наименование заказа",width: "130px" },
                        { field: "monthShip", title: "Месяц отгрузки",width: "50px",aggregates: ["count"],
                                 groupHeaderTemplate: "Месяц отгрузки: #=value# : (#= calcAll(data,field,value)#)"    },
                        { field: "dateCreateOrderFormat", title: "Дата открытия заказа",width: "150px"},
                        { field: "dateBeginProductionFormat", title: "Дата начала производства",width: "150px" },
                        { field: "deviation", title: "Отклонение",width: "130px" },

                        { field: "caclStatus", title: "Состояние",width: "130px" ,aggregates: ["count"],
                                    groupHeaderTemplate: "Состояние: #=value#: #=count# : (#= Math.round((count/calcAll(data,field,value))*100)#%)" }

                    ]
                });

              var tree = [];

              var level1 = [{}]
              var prevLevelValue = [];
              var prevLevelCount = [];
              function calcAll(data,field,value){
                  tree[-1] = {prevLevel : -1,level: -1,value:"",countAll:allDataCount/*dataSourceDB.total()*/};
                  prevLevelCount[-1] = allDataCount;/*dataSourceDB.total();*/
                  prevLevelValue[-1] = "";
                  var levelTree = indexGroup(dataSourceDB.group(),field);
                  prevLevelValue[levelTree] = data.value;
                  prevLevelCount[levelTree] = data.count;
                  if(!findObject(level1,levelTree,data.value,prevLevelValue[levelTree-1])){
                     level1.push({prevLevel : levelTree - 1,level: levelTree,value:data.value, prevValue:prevLevelValue[levelTree - 1],
                                  countAll:data.count, prevCount:prevLevelCount[levelTree - 1]});
                  }
                  return findCountPrevObject(level1,data.value,prevLevelValue[levelTree-1]);
              }

              function indexGroup(dataGroup, findElement){
                  for(var i = 0, len = dataGroup.length;  i < len; i++){
                      if(dataGroup[i].field === findElement){ return i;}
                  }
                  return -1;
              }
              function findObject(data,currentLevel,value, prevValue){
                  for(var i = 0, len = data.length;  i < len; i++){
                     if(data[i].level === currentLevel && data[i].value === value && data[i].prevValue === prevValue){
                         return true;
                     }
                  }
                  return false;
              }
              function findCountPrevObject(data,value,prevValue){
                  for(var i = 0, len = data.length;  i < len; i++){
                      if(data[i].value === value && data[i].prevValue === prevValue){
                          return data[i].prevCount;
                      }
                  }
                  return -1;
              }



              function labelTemplate(e) {
                  var ds = dataSourceDB;
                  var date = new Date(e.value);
                  var label = (date.getMonth()+1) + '-'+ date.getFullYear();


                  return label;
              }


              function createGraph(groupField){
                  //var chart = $("#chart1").data("kendoChart");
                  var datasource_ = createDatasourceForgraph(groupField);

                  $("#chart1").kendoChart({
                      dataSource: datasource_,
                      legend: {
                          visible: false,
                          position:"top"
                      },
                      series: [/*{
                          type: "column",
                          field: "procent",

                      },*/{
                          type: "column",
                          field: "procent",
                          tooltip: {
                              visible: true,
                              template: "#= kendo.format('{0}%', value) #"
                          }
                      },{
                          type: "line",
                          field: "procent",
                          tooltip: {
                              visible: true,
                              template: "#= kendo.format('{0}%', value) #"
                          }

                      }],

                      valueAxis: {

                          labels: {

                              min:0,
                              max:100,
                              format: "{0}%"
                          }
                      },
                     categoryAxis: {

                          baseUnit:"months",
                          field: "monthActualShip",
                          labels: {

                              template: "#= kendo.format('{0:MMMM-yyyy}', new Date(value)) #"

                          }
                      }/*,
                      tooltip: {
                          visible: true,
                          template: "#:value#%"
                      }*/
                  });
              }
              function createDefaultGraph(){
                  $("#chart1").kendoChart({
                      dataSource: dataSourceGrapth,
                      legend: {
                          visible: false
                      },
                      series: [{
                          type: "column",
                          field: "procent"


                      },{
                          type: "line",
                          field: "procent"


                      }],

                      valueAxis: {

                          labels: {

                              min:0,
                              max:100,
                              format: "{0}%",
                              skip: 2,
                              step: 2
                          }
                      },
                      categoryAxis: {

                          field: "monthActualShip",
                          labels: {

                              template: "#= kendo.format('{0:MMMM-yyyy}', new Date(value)) #"

                          }
                      },
                      tooltip: {
                          visible: true,
                          template: "#= kendo.format('{0}%', value) #"
                      }
                  });
              }
              function createDatasourceForgraph(groupField){
                  var datasource =
                   new kendo.data.DataSource({
                  transport: {
                      read: function(options) {
                          $.ajax({
                              type: "GET",
                              url: "api/grapth",
                              contentType: "application/json; charset=utf-8",
                              dataType: 'json',
                              data:{dateBegin: '@select.getDateBegin',dateEnd:'@select.getDateEnd', site:'@select.getEnterprise',groupField:"'"+groupField+"'"},
                              beforeSend: function() { $('#loading').show(); },
                              success: function(data) {

                                  $('#loading').hide();
                                  options.success(data);
                              }
                          });
                      }
                  },
                  group: {
                           field: groupField
                       },
                  sort: [
                      { "field": "categoryAxis", "dir": "asc" }
                  ]
              });
                  return datasource;}
        </script>

}